* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(205, 227, 255);
    margin: 8px 8px 8px 8px;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
    margin-bottom: 21.44px;
} 

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(70, 51, 153);
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}